<% @ads.each do |ad| %>
  <div class="col-sm-4 col-lg-4 col-md-4">
      <div class="thumbnail">
        <%= image_tag ad.picture.url(:medium) %>
          <div class="caption">
              <h4 class="pull-right">R<%= humanized_money_with_symbol ad.price %></h4>
              <h4>
                <%= link_to ad.title.truncate(20), site_ad_detail_path(ad), remote: true %>
              </h4>
              <p><%= ad.description_short.truncate(100) %></p>
              <!-- <p><%# ad.description.truncate(100) %></p> -->
          </div>
          <div class="ratings">
              <p class="pull-right">15 reviews</p>
              <p>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
              </p>
          </div>
      </div>
  </div>
<% end -%>

<div class="row">
  <div class="text-center">
    <%= paginate @ads %>
  </div>
</div>
